@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap);

:root{
  --title-banner-colour:#eeeeee;
  --main-background-colour:#999999;
  --blue-colour:#0055ff;
  --green-colour:#08e234;
}

body {
  background-color: var(--main-background-colour);
  width: 100%;
  margin: 0px;
  font-family: "Poppins";
  font-weight: 400;
  display: flex;
}

.page-header-section{
  width:100%;
}

.heading-container{
  background-color: var(--title-banner-colour);
  text-align:center;
  padding:1em;
}

.main-heading{
  text-decoration-style: none ;

}
