@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap);

:root{
  --title-banner-colour:#eeeeee;
  --main-background-colour:#999999;
  --blue-background-color: #82f43b;
  --blue-colour:#00ccff;
  --green-colour:#08e234;

  --main-textbox-color:#bebebe;
}

body {
  background-color: var(--main-background-colour);
  width: 100%;
  margin: 0px;
  font-family: "Poppins";
  font-weight: 400;
  display: flex;
}

.page-header-section{
  width:100%;
  z-index: -1;
  position: absolute;
}

.heading-container{
  display: flex;
  background-color: var(--title-banner-colour);
  font-weight: 700;
  height: 96px;
}
.main-heading{
  text-decoration: none;
  margin: auto;
}

.navlist-container{
  background-color: var(--blue-background-color);
  width: 10em;
  height:20em;
  border: black;
  border-radius: 5em;
}

.navlist-title{
  font-weight: bold;
  color: black;
  word-wrap: break-word;
}

.navlist{
  list-style: none;
  padding:3em;
}

.general-list-item:hover{
  font-weight:bolder ;
}

.general-list-item:active{
  font-weight:bolder ;
  color: #eeeeee;
}

.general-list-item{
  text-decoration: none;
  line-height: 1.5em;
  color: black;
}

.decorative-right-panel-container{
  background-color: var(--blue-colour);
  width: 10em;
  height:70em;
  margin-top: -12em;
  border: black;
  border-radius: 5em;
  float:right;
}

#decorative-section{
  width: 100%;
}

.main-text-area{
  margin-right: 12em;
  margin-left: 12em;
  margin-top: -14em;
  height: 20em;
  padding-bottom: 500em;
  background-color: var(--main-textbox-color);
}


